{% extends 'base.html'%}{%block content%}

<h1 id="demo" class="demo text-center"></h1>
<p id="text" style="display:none ">{{hello.quote}}

    <h6 class='float-right'>author:{{hello.author}}</h6>
</p>


<script type="text/javascript ">
    var text = document.getElementById('text').innerHTML;
    var i = 0


    function typing() {
        if (i < text.length) {
            document.getElementById("demo").innerHTML += text.charAt(i)
            i++
            setTimeout(typing, 100)
        }
        console.log('a')
    }
    typing()
</script>{%endblock%}