{%extends 'base.html'%}{% import 'bootstrap/wtf.html' as wtf %}{%block content%}
<div class="container">
    {%if not posts|length
    <1%}{%for post in posts%}<table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ARTICLE</th>
                <th scope="col">ARTICLE_BODY</th>
                <th scope="col">ID</th>
                <th scope="col">DELETE</th>
                <th scope="col">EDIT</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->

            <tr>
                <td>{{post.title}}</td>
                <td>{{post.article_body}}</td>
                <td>{{post.id}}</td>
                <td><button class='btn btn-outline btn-info'><a href="{{url_for('main.del_posts',id=post.id)}}">DELETE</a></button></td>
                <td><button class="btn btn-outline btn-success">
                    <a href="{{url_for('main.edit_posts',id=post.id)}}">EDIT</a>
                </a></button></td>

            </tr>

        </tbody>
        </table>

        {%endfor%}{%else%}
        <h1>No post yet</h1>{%endif%}{%endblock%}
</div>